/* Maincard.css */

.main-card {
  display: flex;
  flex-direction: column;
  background-color: #0000009d;
  /* backdrop-filter: blur(1px); */
  /* position: relative; */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 5px;
  width: 85%;
  height: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: scroll;
  width: 100%;
}

.row::-webkit-scrollbar {
  display: none;
}

.main-card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

.specday {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: rgba(49, 48, 48, 0.696);
  backdrop-filter: blur(2px);
  border-radius: 10px;
}

.specday div p {
  color: #fff;
  font-size: 15px;
}

.specday2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-card {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border-radius: 4px;
  margin-right: 15px;
  padding: 10px;
  margin-bottom: 0px;
  align-items: center;
}

.weather-card p {
  color: white;
  font-size: 15px;
  font-weight: bolder;
  /* margin-bottom: 5px; */
}

.weather-card img {
  aspect-ratio: 1/1;
  /* margin-bottom: 5px; */
  width: 70px;
  filter: drop-shadow(5px 5px 1px black);
}

.day-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  /* height:50px; */

}

.day-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  font-size: 14px;
  cursor: pointer;
  /* margin-right: 10px; */
}

.zoom:hover {
  transform: scale(1.07);
  box-shadow: 6px 6px 6px 6px rgb(0 0 0 / 16%);
  transition: 0.2s;
}


.day-button.selected {
  background-color: white;
  /* border: 1px solid black; */
  color: black;
}

.arrow {
  display: flex;
  justify-content: space-between;

}

.cdcontain {
  display: flex;
  justify-content: space-between;
}

/* Styles for the moving arrow */
.moving-arrow-container {
  animation: moveArrow 1s infinite;
}

/* Keyframes for the animation */
@keyframes moveArrow {

  0%,
  100% {
    transform: translateX(-20%);
  }

  50% {
    transform: translateX(0%);
  }
}

.line-chart-container {
  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .specday div p {
    font-size: 12px;
  }

  .weather-card p {
    font-size: 13px;
    font-weight: bolder;
  }

  .weather-card img {
    /* margin-bottom: 10px; */
    width: 40px;
  }

  .weather-card {
    margin-right: 10px;
  }

  .specday2 img {
    width: 60px;
  }

  .day-button {
    padding: 5px 12px;
    font-size: 12px;
  }
}