.currentday{
    border-radius: 8px;
    /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(7px);
    padding: 20px;
    margin-top: 5px;
    width: 85%;
    height: 100%;
    /* background-color: #000000ab; */
}
.currentday h2{
    filter: drop-shadow(3px 3px 1px black);
    color: white;
}

.currentday p{
    color: white;
}

.currentday img{
    filter: drop-shadow(5px 5px 1px black);

}

.citytemp{
    margin-right: 20px;
}

.city{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}
.citytemp h2{
    text-align: center;

}
.citytemp p{
    filter: drop-shadow(3px 3px 1px black);
    color: white;
    text-align: right;
    font-size: 65px;
}
.info{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    filter: drop-shadow(3px 3px 2px black);

}
.info p{
    font-size: 13px;

}

.infocontain{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}


@media only screen and (max-width: 1024px){
    .info p{
        font-size: 15px;
    
    }
    /* .info{
        width: 250px;
    } */

    .citytemp p{
        font-size: 65px;
    }
}
@media only screen and (max-width: 768px){
    /* .info{
        width: 150px;
    } */
    .info p{
        font-size: 12px;
    
    }
}

@media only screen and (max-width: 480px){
    /* .info{
        width: 110px;
    } */

}